.loading-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#180202), to(#000000));
  background-image: linear-gradient(-180deg, #180202 0%, #000000 100%);
}
